body {
    background: url("../../../assets/images/concrete.png");
    background-size: auto, cover;
}

.navbar {
    background-color: white;
    margin-bottom: 35px;
    font-family: 'Roboto Mono', monospace;
}

#jacob {
    background-color: black;
    color: white;
    padding: 13px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: black;
}

.jumbotron {
    background: url("../../../assets/images/concrete.png");
    color: #777777;
    border: #dddddd solid 2px;
    margin-bottom: 85px;
}

.row {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
}

.nav-item {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
}

.form-group {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
}

.form-group {
    color: black;
}

#button {
    background-color: black;
    border-color: black;
}

#back {
    float: right;
    background-color: black;
    border-color: black;
}