.navbar {
    background-color: white;
    margin-bottom: 35px;
    font-family: 'Roboto Mono', monospace;
}

.nav-item {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
}

#jacob {
    background-color: black;
    color: white;
    padding: 13px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
} 

  