.navbar {
    background-color: white;
    margin-bottom: 35px;
    font-family: 'Roboto Mono', monospace;
}

.nav-item {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
}

#jacob {
    background-color: black;
    color: white;
    padding: 13px;
}
